$rotate-radius: 0.03em;

@mixin transform-rotate($ydeg: 0, $d3deg: 0) {
  transform: rotateY($ydeg) skew(14deg) rotate3d(1.1, 1, 0.9, $d3deg);
}
@mixin rotate-animation($ydeg: 0) {
  0% {
    @include transform-rotate($ydeg, 0deg);
  }
  50% {
    @include transform-rotate($ydeg, 180deg);
  }
  100% {
    @include transform-rotate($ydeg, 360deg);
  }
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

.cute-cube-rotate-infinite {
  font-size: 25vmin;
  z-index: 1;
  transform: rotate(0deg) translateZ(0);
  transform-origin: center center;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-animation: rainbow 3s infinite linear;
  border-radius: 0.5em;
  box-shadow: 0 0 0.3em 0.05em #2c116e, inset $rotate-radius 0 0.1em 0.02em #de66e4;
  transform-style: preserve-3d;
  perspective: 1em;
  .green {
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 60%,
      rgba(115, 213, 186, 0.8) 100%
    );
    @include transform-rotate();
    animation: curve-rotate-green 6s infinite linear;
  }
  $pink-rotate: 180deg;
  .pink {
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(215, 115, 229, 0.8) 100%
    );
    @include transform-rotate($pink-rotate);
    animation: curve-rotate-pink 3s infinite linear;
  }
}
@keyframes rainbow {
  0% {
    transform: rotate(0deg) translateZ(0);
    box-shadow: 0 0 0.3em 0.05em #2c116e, inset $rotate-radius 0 0.1em 0.02em #de66e4;
  }
  25% {
    transform: rotate(90deg) translateZ(0);
    box-shadow: 0 0 0.3em 0.05em #28126a, inset $rotate-radius 0 0.1em 0.02em #34ceaa;
  }
  50% {
    transform: rotate(180deg) translateZ(0);
    box-shadow: 0 0 0.3em 0.05em #28126a, inset $rotate-radius 0 0.1em 0.02em #19b3f5;
  }
  75% {
    transform: rotate(270deg) translateZ(0);
    box-shadow: 0 0 0.3em 0.05em #28126a, inset $rotate-radius 0 0.1em 0.02em #3d52ac;
  }
  100% {
    transform: rotate(360deg) translateZ(0);
    box-shadow: 0 0 0.3em 0.05em #28126a, inset $rotate-radius 0 0.1em 0.02em #de66e4;
  }
}
.cute-cube-rotate-infinite {
  position: relative;
  & > div {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 0.8em;
    height: 0.8em;
    clip-path: circle(50% at 50% 50%);
  }
}

@include keyframes(curve-rotate-green) {
  @include rotate-animation();
}
@include keyframes(curve-rotate-pink) {
  @include rotate-animation(180deg);
}
